input[type=submit] {
  margin-top: 30px;
  border: none;
  background-color: #1E95EA;
  color: white;
  height: 40px;
  width: 150px;
  font-size: 14px;
}

textarea {
  width: 100%;
  height: 60px;
}
