<div>
  <span class="tab" *ngFor="let tab of tabs"
        [ngClass]="{ activeTab: selectedTab === tab }"
        (click)="selectTab(tab)">{{tab}}</span>

  <div *ngIf="!reviews.length">
    <h2>Reviews</h2>
    <p>There are no reviews yet</p>
  </div>

  <ul>
    <li *ngFor="let review of reviews">
      <p>{{ review.name }}</p>
      <p>Rating: {{ review.rating }}</p>
      <p>{{ review.review }}</p>
    </li>
  </ul>

  <product-review (reviewSubmitted)="addReview($event)"></product-review>
</div>
